body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #111;
    color: white;
}

.header {
    position: relative;
    width: 100%;
    text-align: center;
}

.header-image {
    width: 100%;
    height: 400px;
    object-fit: cover;
    opacity: 0.7;
}

.header-text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    font-size: 48px;
    font-weight: bold;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}

.container {
    width: 80%;
    margin: 20px 0;
}

.section {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 40px;
  
}

.section-image {
    flex: 1;
    max-width: 50%;
    object-fit: cover;
    border-radius: 8px;
    margin: 10px;
}

.section-text {
    flex: 1;
    max-width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 20px;
}

.section-text h2 {
    margin-top: 0;
}

.btn {
    padding: 10px 20px;
    border: none;
    background-color: #fff;
    color: #111;
    cursor: pointer;
    font-size: 16px;
    border-radius: 5px;
    align-self: flex-start;
    margin-top: 10px;
    position: relative;
}

.btn:hover {
    background-color: #ddd;
}

.submenu {
    display: none;
    flex-direction: column;
    background-color: #222;
    border: 1px solid #444;
    border-radius: 5px;
    top: 50px;
    left: 0;
    width: 200px;
    z-index: 1000;
}

.submenu-item {
    padding: 10px;
    background-color: #222;
    border: none;
    color: white;
    cursor: pointer;
    text-align:center;
    border-bottom: 1px solid #444;
}

.submenu-item:last-child {
    border-bottom: none;
}

.submenu-item:hover {
    background-color: #444;
}

.whatsapp-button {
    position: fixed;
    bottom: 20px;
    right: 20px;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
}

.whatsapp-button img {
    width: 100%;
    height: 100%;
}

